.dashboard-root {
    -fx-padding: 20px;
    -fx-background-color: #f5fff5;
    -fx-spacing: 15px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.header {
    -fx-padding: 10px 20px;
    -fx-alignment: center-left;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 0 0 1px 0;
}

.header-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #00695c;
}

/* Bouton Modifier */
.modify-button {
    -fx-background-color: #3498db; /* bleu */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 20px;
}

/* Bouton Supprimer */
.delete-button {
    -fx-background-color: #e74c3c; /* rouge */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 20px;
}

/* Bouton Réserver */
.btn-reserve-product {
    -fx-pref-width: 140px;
    -fx-pref-height: 40px;
    -fx-background-color: #4CAF50; /* Vert */
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
